.testimonials {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .testimonials-header {
    margin-bottom: 50px;
  }

  .testimonials-title {
    font-size: 2rem;
  }

  .testimonial-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    max-width: 700px;
    width: 100%;
  }

  .testimonial-card {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    padding: 32px;
    text-align: left;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex-direction: column-reverse;

    &:nth-child(2n) {
      margin-bottom: 15px;
    }
  }

  .testimonial-text {
    font-size: 0.9rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.85);
  }

  .testimonial-infos {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .infos-text {
      h3 {
        font-size: 0.85rem;
        font-weight: 600;
        margin: 0;
      }

      span {
        font-size: 0.75rem;
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: 768px) {
  .testimonials {
    .testimonial-card-container {
      grid-template-columns: 1fr;
      gap: 18px;
      max-width: 75%;
    }
    .testimonial-card {
      &:nth-child(2n) {
        margin-bottom: 0;
      }

      .testimonial-text {
        font-size: 0.9rem;
        line-height: 1.6;
        width: 90%;
        margin-top: 10px;
      }
    }
  }
}
