.features {
  display: flex;
  justify-content: center;
  text-align: center;

  .features-content {
    width: 80%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
  }

  .features-title {
    font-size: 2em;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .features-text {
    font-size: 0.9rem;
    line-height: 1.6;
    max-width: 400px;
    margin-bottom: 60px;
  }

  .features-layout {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .features-images {
    position: relative;
    flex: 2;
    display: flex;
    justify-content: center;
  }

  .features-image {
    display: block;
    width: 100%;
    border-radius: 12px;

    &--main {
      max-width: 780px;
    }

    &--overlay {
      position: absolute;
      bottom: -40px;
      right: -15px;
      max-width: 310px;
    }
  }

  .features-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;
  }

  .feature-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .feature-header {
    display: flex;
    align-items: center;
  }

  .feature-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  .feature-title {
    font-size: 1rem;
    font-weight: bold;
    width: 120px;
  }

  .feature-description {
    font-size: 0.85rem;
    line-height: 1.3;
    max-width: 200px;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .features {
    .features-content {
      width: 70%;
      margin-top: 10vh;
    }

    .features-title {
      font-size: 2rem;
    }

    .features-text {
      max-width: 95%;
      font-size: 0.9rem;
      margin-bottom: 30px;
    }

    .features-layout {
      flex-direction: column;
      gap: 60px;
    }

    .features-images {
      width: 100%;
      flex: none;
    }

    .features-image {
      &--main {
        max-width: 100%;
      }

      &--overlay {
        max-width: 220px;
        bottom: -30px;
        right: 50%;
        transform: translateX(50%);
      }
    }

    .features-list {
      width: 100%;
      gap: 48px;
      margin-top: 20px;
      align-items: center;
    }

    .feature-item {
      gap: 8px;
    }

    .feature-header {
      align-items: center;
    }

    .feature-icon {
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }

    .feature-title {
      width: auto;
      font-size: 0.95rem;
      width: 120px;
    }

    .feature-description {
      max-width: 200px;
      font-size: 0.9rem;
      line-height: 1.5;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}
