.hero {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 70vh;
  overflow: hidden;
  margin-top: 7vh;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);

    pointer-events: none;
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-title {
    font-size: 3.5rem;
    width: 500px;
    font-weight: 600;
  }

  .hero-text {
    font-size: 1em;
    line-height: 1.6;
    max-width: 500px;
    margin-top: 4vh;
    margin-bottom: 8vh;
  }

  .hero-actions {
    display: flex;
    gap: 20px;

    .hero-button {
      padding: 12px 30px;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &.primary {
        background-color: #4452fe;
        color: #ffffff;
        border: none;

        &:hover {
          background-color: #5d6afe;
          box-shadow: 0 4px 15px rgba(68, 82, 254, 0.4);
        }
      }

      &.secondary {
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #ffffff;

        &:hover {
          background-color: #ffffff;
          color: #181818;
        }
      }
    }
  }

  .hero-image {
    margin-top: 5vh;
    width: 100%;
    transform: perspective(1200px) rotateX(25deg);
    transition: transform 0.5s ease;
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);

    &:hover {
      transform: perspective(1200px) rotateX(15deg) scale(1.03);
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .hero-title {
      font-size: 3rem;
      width: 300px;
      font-weight: lighter;
    }

    .hero-text {
      font-size: 0.9em;
      line-height: 1.6;
      max-width: 70vw;
      margin-top: 4vh;
      margin-bottom: 8vh;
      font-weight: lighter;
    }

    .hero-actions {
      flex-direction: column;
      width: 100%;

      .hero-button {
        width: 40vw;
        margin: 0 auto;
      }
    }

    .hero-image {
      transform: none;
      height: auto;
      margin-top: 5vh;
      height: 30vh;
      object-fit: cover;
    }
  }
}
