.hero {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);

    pointer-events: none;
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;

    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-title {
    font-size: 4rem;
    width: 550px;
  }

  .hero-text {
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 550px;
  }

  .hero-actions {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;

    .hero-button {
      padding: 12px 40px;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &.primary {
        background-color: #4452fe;
        color: #ffffff;
        border: none;

        &:hover {
          background-color: #5d6afe;
          box-shadow: 0 4px 15px rgba(68, 82, 254, 0.4);
        }
      }

      &.secondary {
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #ffffff;

        &:hover {
          background-color: #ffffff;
          color: #181818;
        }
      }
    }
  }

  .hero-image {
    width: 100%;
    transform: perspective(1200px) rotateX(25deg);
    transition: transform 0.5s ease;
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);

    &:hover {
      transform: perspective(1200px) rotateX(15deg) scale(1.03);
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .hero-title {
      font-size: 2.8rem;
    }
    .hero-actions {
      flex-direction: column;
      width: 100%;
      .hero-button {
        width: 100%;
      }
    }
  }
}
