.footer {
  margin: 15vh 10vh 5vh;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.footer-columns {
  display: flex;
  gap: 60px;
}

.footer-column {
  h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 24px;

    li {
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-contact-item {
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    opacity: 0.8;
  }

  p {
    font-size: 14px;
  }
}

.footer-social {
  display: flex;
  gap: 16px;
  margin-top: 8px;

  img {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 15vh 64px 6vh;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
  }

  .footer-columns {
    flex-direction: column;
    gap: 56px;
  }

  .footer-column {
    h4 {
      margin-bottom: 32px;
    }

    ul {
      gap: 20px;
    }
  }

  .footer-contact {
    gap: 20px;
  }

  .footer-social {
    margin-top: 16px;
  }
}
